oi-producttable{
	display: block;

	width: 768px;
}

/* PRODUCT TABLE */
.pt{
	width: inherit;
	height: 100%;

	border-collapse: collapse;
	/*border-bottom: var(--space-thin) solid var(--color-primaryContainer);*/
}

.pt--tableHeader{
	vertical-align: middle;

	color: var(--color-onPrimaryContainer);
	font-weight: bold;
	text-align: left;
	white-space: nowrap;
	word-break: keep-all;
	background-color: var(--color-primaryContainer);
}
.pt--header{
	height: var(--space);
	padding-inline: var(--space-xtiny);
}
.pt--header__longest{
	width: 100%;
}
.pt--tableBody{
	border: var(--space-xtiny) solid transparent;
}