oi-producttable{
	display: block;

	width: 768px;
}

/* PRODUCT TABLE */
.pt{
	width: inherit;
	height: 100%;

	border-collapse: collapse;
	border-bottom: var(--space-thin) solid var(--color-primaryContainer);
}

.pt--tableHeader{
	vertical-align: middle;

	color: var(--color-onPrimaryContainer);
	font-weight: bold;
	text-align: left;
	white-space: nowrap;
	word-break: keep-all;
	background-color: var(--color-primaryContainer);
	border: var(--space-xtiny) solid transparent;
}
.pt--header{
	height: var(--space);
	padding-inline: var(--space-xtiny);
}
.pt--header__longest{
	width: 100%;
}








.sale--tableHeader__longer{
	width: auto;
}

.sale--table tbody{
	border: var(--space-xtiny) solid transparent;
}
.sale--table tbody tr:nth-child(2n){
	background-color: var(--color-surfaceContainer);
}
.sale--table td{
	border: var(--space-xtiny) solid transparent;
}
.sale--data__centered, .sale--data__centered input{
	text-align: center;
}
.sale--input{
	width: 100%;
}